<div *ngIf="flightDetails" class="container">
  <a class="btn btn-primary" routerLink="/flights/">Flight List</a>
    <div class="card text-center">
        <div class="card-header">
          Flight details
        </div>
        <div class="card-body">
          <h5 class="card-title">{{flightDetails.Mdl}}</h5>
          <p 
            class="card-text" 
            *ngIf="flightDetails.From && flightDetails.To"
            >
            From {{flightDetails.From}} to {{flightDetails.To}}
          </p>
          <p class="card-text" *ngIf="!flightDetails.From && !flightDetails.To">Flight origin and destination are not available for this flight</p>
          <img
            src="https://logo.clearbit.com/{{flightDetails.Op | removeWhitespace}}.com" 
            onError="this.src='../../assets/images/default.png'">
        </div>
        <div class="card-footer text-muted">
          <p>Country: {{flightDetails.Cou}}</p>
        </div>
      </div>
</div>
