<div *ngIf="flights" class="container">
    <button class="btn btn-primary btn-block " (click)="clearStorageAndGetNewFlights()">Get new flights</button>
    <div *ngFor="let flight of flights.acList">
      <div class="card text-center">
        <img 
        [ngClass]="(flight.Trak > 0 && flight.Trak < 180)? 'east-bound': 'west-bound'" 
        class="card-img-top"
        [src]="'../../assets/images/09a0e78cdc722c229e4527506463f8f2.png'" 
        alt="Plane image"
        >
        <div class="card-body">
          <h5 class="card-title">{{flight.Man}}</h5>
          <p class="card-text">Altitude: {{flight.Alt}}</p> 
          <a routerLink="/details/{{flight.Icao}}" class="btn btn-primary">Details</a> 
        </div> 
      </div>
    </div>  
  </div>
