@keyframes west-bound {
    0%   {transform: rotate(0deg)}
    50%  {transform: rotate(45deg)}
    100% {transform: rotate(90deg)}
}

@keyframes east-bound {
    0%   {transform: rotate(0deg)}
    50%  {transform: rotate(-45deg)}
    100% {transform: rotate(-90deg)}
}

img {
    display: block;
    margin: 1em auto .5em;
    width: 150px;
    
}   

img.west-bound {
    animation: west-bound linear 2s forwards;
}

img.east-bound {
    animation: east-bound linear 2s forwards;
}

.card {
    margin: 1em auto;
}